
<h1><%= @audio.title %></h1>
<td><%= image_tag @audio.thumbnail_url %></td><br>
<%= audio_tag @audio.filename, controls: "true", autoplay: "true", autobuffer: "true" %>
<br>
<%= link_to 'Back', audios_path %>