<h1>Search Result</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @searchResults.each do |result| %>
      <tr>
        <td><%= result.title %></td>
        <td><%= link_to 'Lisen', '/audios?' + {vedio_id: result.id, title: result.title}.to_param, method: :post %></td>
      </tr>
  <% end %>
  <%= link_to 'All downloded audios', audios_path %>
</table>